## Import DATA

In [22]:
import pandas as pd 
import plotly.express as px
import matplotlib.pyplot as plt 
import seaborn as sns   
import numpy as np

In [26]:
df = pd.read_csv("/Users/Marcy_Student/Desktop/Projects /Mod2_Final_Project/data/Raw/NYC_Dog_Licenses_20250713.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/Marcy_Student/Desktop/Projects /Mod2_Final_Project/data/Raw/NYC_Dog_Licenses_20250713.csv'

In [ ]:
df.head(30)

,AnimalName,AnimalGender,AnimalBirthYear,BreedName,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016
5,IAN,M,2006,Unknown,10013.0,09/12/2014,10/30/2019,2016
6,BUDDY,M,2008,Unknown,10025.0,09/12/2014,10/20/2017,2016
7,CHEWBACCA,F,2012,Labrador Retriever Crossbreed,10013.0,09/12/2014,10/01/2019,2016
8,HEIDI-BO,F,2007,Dachshund Smooth Coat,11215.0,09/13/2014,04/16/2017,2016
9,MASSIMO,M,2009,"Bull Dog, French",11201.0,09/13/2014,09/17/2017,2016
10,LOLA,F,2006,Miniature Pinscher,10022.0,09/13/2014,10/03/2019,2016
11,LEMMY,F,2005,Yorkshire Terrier,10003.0,09/13/2014,10/26/2017,2016
12,LUCY,F,2014,Dachshund Smooth Coat Miniature,11215.0,09/13/2014,09/13/2019,2016
13,RICKY,M,2014,German Shepherd Dog,11220.0,09/13/2014,09/13/2017,2016
14,SARAH,F,2012,Unknown,10040.0,09/13/2014,09/13/2017,2016
15,MURPHY,M,2012,American Pit Bull Mix / Pit Bull Mix,10463.0,09/13/2014,09/28/2017,2016
16,JUNE,F,2010,Cavalier King Charles Spaniel,11238.0,09/13/2014,10/28/2019,2016
17,ELIZABETH,F,2013,Cavalier King Charles Spaniel,10022.0,09/13/2014,09/13/2019,2016
18,AVERY,F,2014,American Pit Bull Terrier/Pit Bull,10002.0,09/13/2014,09/13/2019,2016
19,SOPHIE,F,2011,Boxer,10308.0,09/13/2014,10/23/2019,2016
20,OTIS,F,2001,Unknown,10011.0,09/13/2014,09/29/2017,2016
21,BENSON,M,2010,Boxer,11209.0,09/13/2014,10/29/2019,2016
22,BIGS,M,2004,American Pit Bull Terrier/Pit Bull,11208.0,09/13/2014,10/27/2019,2016
23,LOGAN,M,2003,Unknown,10011.0,09/13/2014,10/30/2017,2016
24,BESS,F,2010,Beagle,11218.0,09/13/2014,09/13/2016,2016
25,APPLE,M,2013,Havanese,10025.0,09/13/2014,10/16/2019,2016
26,MUNECA,F,2013,Beagle,11232.0,09/13/2014,09/13/2019,2016
27,DOTTIE,F,2013,"Poodle, Standard",10025.0,09/13/2014,09/13/2017,2016
28,OSCAR,M,2008,German Shorthaired Pointer,10025.0,09/13/2014,09/13/2019,2016
29,BUDDY,M,2012,Bull Terrier,10312.0,09/13/2014,10/05/2019,2016

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722864 entries, 0 to 722863
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AnimalName          721054 non-null  object
 1   AnimalGender        722843 non-null  object
 2   AnimalBirthYear     722864 non-null  object
 3   BreedName           722864 non-null  object
 4   ZipCode             722855 non-null  float64
 5   LicenseIssuedDate   722864 non-null  object
 6   LicenseExpiredDate  722782 non-null  object
 7   Extract Year        722864 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 44.1+ MB

Let's change the data type for the dates columns

- Let's check for missing values inside the dataset

In [ ]:
df.isna().sum()

AnimalName            1810
AnimalGender            21
AnimalBirthYear          0
BreedName                0
ZipCode                  9
LicenseIssuedDate        0
LicenseExpiredDate      82
Extract Year             0
dtype: int64

- It look like there are not many values missing in this dataset
- Let's drop all the missing values.

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

AnimalName            0
AnimalGender          0
AnimalBirthYear       0
BreedName             0
ZipCode               0
LicenseIssuedDate     0
LicenseExpiredDate    0
Extract Year          0
dtype: int64

In [ ]:
df.columns

Index(['AnimalName', 'AnimalGender', 'AnimalBirthYear', 'BreedName', 'ZipCode',
       'LicenseIssuedDate', 'LicenseExpiredDate', 'Extract Year'],
      dtype='object')

In [ ]:
df["AnimalBirthYear"].unique()

array([2014, 2010, 2013, 2009, 2006, 2008, 2012, 2007, 2005, 2011, 2001,
       2004, 2003, 2000, 2002, 1991, 1992, 1993, 2015, 2016, 1994, 1995,
       1996, 1997, 2017, 1998, 1999, 2018, 2019, 2020, 2021, '2012',
       '2021', '2010', '2018', '2020', '2015', '2017', '2019', '2011',
       '2014', '2013', '2016', '2009', '2006', '2007', '2008', '2001',
       '2005', '2004', '2002', '2003', '2000', 'ERROR: #VALUE!', '1999',
       '1996', '1973', '1930', '1990', '1995', '1997', '2022', '1992',
       '1986', '1921', '1922', '1912', '1998', '2023', '1993', '1991',
       '1987', '1934', '1989', '1920', '1923', '18', '317', '720', '200',
       '21', '201', '221', '219', '202', '209', 2022, 2023, 203, 22, 519,
       202, 1973, 2024, 1987, 1968, 223, 222, 1970, 219, 1989, 19, 1,
       1934, 208, 1923, 209, 204, 18, 17, 1022], dtype=object)

- Let's rename the columns for easy data handling

In [ ]:
df = df.rename(columns={
    "AnimalName":"Name",
    "AnimalGender":"Gender",
    "AnimalBirthYear":"BirthYear",
    "BreedName":"Breed",
    "LicenseIssuedDate":"IssuedDate",
    "LicenseExpiredDate":"ExpiredDate",
    "Extract Year":"ExtractYear",
})

In [ ]:
df.head()

,Name,Gender,BirthYear,Breed,ZipCode,IssuedDate,ExpiredDate,ExtractYear
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016

Let's change the data type for certain columns in the right format to help us find insight wiht the data

In [ ]:
df["IssuedDate"] = pd.to_datetime(df["IssuedDate"])
df["ExpiredDate"] = pd.to_datetime(df["ExpiredDate"])

In [ ]:
df["ZipCode"] = df["ZipCode"].astype(str)

In [ ]:
df.info()

NameError: name 'df' is not defined