### Import DATA

In [49]:
import pandas as pd 
import plotly.express as px
import matplotlib.pyplot as plt 
import seaborn as sns   
import numpy as np

In [50]:
df = pd.read_csv("/Users/Marcy_Student/Desktop/Marcy_Projects/Mod2_Final_Project/data/Raw/NYC_Dog_Licensing_Dataset_20250713.csv")

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_71670/3164521452.py:1: DtypeWarning:

Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.

- Quick overview of the data

In [51]:
df.head(30)

,AnimalName,AnimalGender,AnimalBirthYear,BreedName,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016
5,IAN,M,2006,Unknown,10013.0,09/12/2014,10/30/2019,2016
6,BUDDY,M,2008,Unknown,10025.0,09/12/2014,10/20/2017,2016
7,CHEWBACCA,F,2012,Labrador Retriever Crossbreed,10013.0,09/12/2014,10/01/2019,2016
8,HEIDI-BO,F,2007,Dachshund Smooth Coat,11215.0,09/13/2014,04/16/2017,2016
9,MASSIMO,M,2009,"Bull Dog, French",11201.0,09/13/2014,09/17/2017,2016
10,LOLA,F,2006,Miniature Pinscher,10022.0,09/13/2014,10/03/2019,2016
11,LEMMY,F,2005,Yorkshire Terrier,10003.0,09/13/2014,10/26/2017,2016
12,LUCY,F,2014,Dachshund Smooth Coat Miniature,11215.0,09/13/2014,09/13/2019,2016
13,RICKY,M,2014,German Shepherd Dog,11220.0,09/13/2014,09/13/2017,2016
14,SARAH,F,2012,Unknown,10040.0,09/13/2014,09/13/2017,2016
15,MURPHY,M,2012,American Pit Bull Mix / Pit Bull Mix,10463.0,09/13/2014,09/28/2017,2016
16,JUNE,F,2010,Cavalier King Charles Spaniel,11238.0,09/13/2014,10/28/2019,2016
17,ELIZABETH,F,2013,Cavalier King Charles Spaniel,10022.0,09/13/2014,09/13/2019,2016
18,AVERY,F,2014,American Pit Bull Terrier/Pit Bull,10002.0,09/13/2014,09/13/2019,2016
19,SOPHIE,F,2011,Boxer,10308.0,09/13/2014,10/23/2019,2016
20,OTIS,F,2001,Unknown,10011.0,09/13/2014,09/29/2017,2016
21,BENSON,M,2010,Boxer,11209.0,09/13/2014,10/29/2019,2016
22,BIGS,M,2004,American Pit Bull Terrier/Pit Bull,11208.0,09/13/2014,10/27/2019,2016
23,LOGAN,M,2003,Unknown,10011.0,09/13/2014,10/30/2017,2016
24,BESS,F,2010,Beagle,11218.0,09/13/2014,09/13/2016,2016
25,APPLE,M,2013,Havanese,10025.0,09/13/2014,10/16/2019,2016
26,MUNECA,F,2013,Beagle,11232.0,09/13/2014,09/13/2019,2016
27,DOTTIE,F,2013,"Poodle, Standard",10025.0,09/13/2014,09/13/2017,2016
28,OSCAR,M,2008,German Shorthaired Pointer,10025.0,09/13/2014,09/13/2019,2016
29,BUDDY,M,2012,Bull Terrier,10312.0,09/13/2014,10/05/2019,2016

- Let's check the data type for each column in the dataset

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722864 entries, 0 to 722863
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AnimalName          721054 non-null  object
 1   AnimalGender        722843 non-null  object
 2   AnimalBirthYear     722864 non-null  object
 3   BreedName           722864 non-null  object
 4   ZipCode             722855 non-null  float64
 5   LicenseIssuedDate   722864 non-null  object
 6   LicenseExpiredDate  722782 non-null  object
 7   Extract Year        722864 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 44.1+ MB

Let's change the data type for the dates columns

- Let's check for missing values inside the dataset

In [53]:
df.isna().sum()

AnimalName            1810
AnimalGender            21
AnimalBirthYear          0
BreedName                0
ZipCode                  9
LicenseIssuedDate        0
LicenseExpiredDate      82
Extract Year             0
dtype: int64

- It look like there are not many values missing in this dataset
- Let's drop all the missing values.

In [54]:
df.dropna(inplace=True)

In [55]:
df.isna().sum()

AnimalName            0
AnimalGender          0
AnimalBirthYear       0
BreedName             0
ZipCode               0
LicenseIssuedDate     0
LicenseExpiredDate    0
Extract Year          0
dtype: int64

In [56]:
df.columns

Index(['AnimalName', 'AnimalGender', 'AnimalBirthYear', 'BreedName', 'ZipCode',
       'LicenseIssuedDate', 'LicenseExpiredDate', 'Extract Year'],
      dtype='object')

- Let's rename the columns for easy data handling

In [58]:
df = df.rename(columns={
    "AnimalName":"Name",
    "AnimalGender":"Gender",
    "AnimalBirthYear":"BirthYear",
    "BreedName":"Breed",
    "LicenseIssuedDate":"IssuedDate",
    "LicenseExpiredDate":"ExpiredDate",
    "Extract Year":"ExtractYear",
})

In [59]:
df.head()

,Name,Gender,BirthYear,Breed,ZipCode,IssuedDate,ExpiredDate,ExtractYear
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016

- Let's change the data type for certain columns in the right format to help us find insight wiht the data
- Also this can help us for example use date time function on the dates columns to extract the month or the year.

In [60]:
# Convert dates to datetime
df["IssuedDate"] = pd.to_datetime(df["IssuedDate"],errors='coerce')
df["ExpiredDate"] = pd.to_datetime(df["ExpiredDate"],errors='coerce')
# Convert BirthYear to numeric
df['BirthYear'] = pd.to_numeric(df['BirthYear'], errors='coerce')

Let's create a dictionary to map zip codes with borough names
- Using borough we are going to explore areas with lower licensing compliance, which can help in targeted public health and safety campaigns.

In [61]:
zipcodes = {
    'Manhattan': (10001, 10282),
    'The Bronx': (10451, 10475),
    'Brooklyn': (11201, 11256),
    'Queens': [(11004, 11109), (11351, 11697)],
    'Staten Island': (10301, 10314)
}
def get_borough(zipcode):
    if pd.isna(zipcode):
        return 'Unknown'
    if zipcodes['Manhattan'][0] <= zipcode <= zipcodes['Manhattan'][1]:
        return 'Manhattan'
    elif zipcodes['The Bronx'][0] <= zipcode <= zipcodes['The Bronx'][1]:
        return 'The Bronx'
    elif zipcodes['Brooklyn'][0] <= zipcode <= zipcodes['Brooklyn'][1]:
        return 'Brooklyn'
    elif (zipcodes['Queens'][0][0] <= zipcode <= zipcodes['Queens'][0][1]) or \
         (zipcodes['Queens'][1][0] <= zipcode <= zipcodes['Queens'][1][1]):
        return 'Queens'
    elif zipcodes['Staten Island'][0] <= zipcode <= zipcodes['Staten Island'][1]:
        return 'Staten Island'
    else:
        return 'Unknown'
df['Borough'] = df['ZipCode'].apply(get_borough)

In [62]:
df['Borough'].head()

0    Manhattan
1    The Bronx
2    Manhattan
3    Manhattan
4    Manhattan
Name: Borough, dtype: object

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 720943 entries, 0 to 722863
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Name         720943 non-null  object
 1   Gender       720943 non-null  object
 2   BirthYear    720913 non-null  float64
 3   Breed        720943 non-null  object
 4   ZipCode      720943 non-null  float64
 5   IssuedDate   720943 non-null  datetime64[ns]
 6   ExpiredDate  720943 non-null  datetime64[ns]
 7   ExtractYear  720943 non-null  int64
 8   Borough      720943 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 55.0+ MB

The following line of code create a new columns to store the Dog age when the licence is made
- This column can help us later to group the data by borough and get the average dog age.

In [ ]:
df['IssueYear'] = df['IssuedDate'].dt.year
df['IssueMonth'] = df['IssuedDate'].dt.month_name()
df['DogAgeAtLicense'] = df['IssueYear'] - df['BirthYear']

#The following line of code create a new columns to store the Dog age when the licence is made
#This column can help us later to group the data by borough and get the average dog age.

In [66]:
df.head(10)

,Name,Gender,BirthYear,Breed,ZipCode,IssuedDate,ExpiredDate,ExtractYear,Borough,DogAgeAtLicense,IssueYear,IssueMonth
0,PAIGE,F,2014.0,American Pit Bull Mix / Pit Bull Mix,10035.0,2014-09-12,2017-09-12,2016,Manhattan,0.0,2014,September
1,YOGI,M,2010.0,Boxer,10465.0,2014-09-12,2017-10-02,2016,The Bronx,4.0,2014,September
2,ALI,M,2014.0,Basenji,10013.0,2014-09-12,2019-09-12,2016,Manhattan,0.0,2014,September
3,QUEEN,F,2013.0,Akita Crossbreed,10013.0,2014-09-12,2017-09-12,2016,Manhattan,1.0,2014,September
4,LOLA,F,2009.0,Maltese,10028.0,2014-09-12,2017-10-09,2016,Manhattan,5.0,2014,September
5,IAN,M,2006.0,Unknown,10013.0,2014-09-12,2019-10-30,2016,Manhattan,8.0,2014,September
6,BUDDY,M,2008.0,Unknown,10025.0,2014-09-12,2017-10-20,2016,Manhattan,6.0,2014,September
7,CHEWBACCA,F,2012.0,Labrador Retriever Crossbreed,10013.0,2014-09-12,2019-10-01,2016,Manhattan,2.0,2014,September
8,HEIDI-BO,F,2007.0,Dachshund Smooth Coat,11215.0,2014-09-13,2017-04-16,2016,Brooklyn,7.0,2014,September
9,MASSIMO,M,2009.0,"Bull Dog, French",11201.0,2014-09-13,2017-09-17,2016,Brooklyn,5.0,2014,September

- Let's count the number of `licences` by `Borough`
- We can use Group

In [67]:
licenses_by_borough=df.groupby('Borough')['IssuedDate'].count().reset_index(False)

In [68]:
licenses_by_borough

         Borough  IssuedDate
0       Brooklyn      194187
1      Manhattan      241400
2         Queens      148569
3  Staten Island       59743
4      The Bronx       74540
5        Unknown        2504

In [89]:
df.groupby("IssueMonth")["IssuedDate"].count().sort_values(ascending=False)

IssueMonth
July         69134
August       67569
September    64879
March        62612
January      60504
June         60240
October      60160
May          58998
April        57396
February     56477
December     52955
November     50019
Name: IssuedDate, dtype: int64

Look like the licences are most made in summer!
- July it the peek month
- November is the month with the lowest licences made.

Let's create a quick visual with plotly to see the difference in number of licences for each Borough

In [ ]:
fig = px.bar(licenses_by_borough, x="Borough",y="IssuedDate", title="Dog licences by borough")
fig.show()
#It look like Manhattan the borought wiht the highest Dog licences

Now let's fiter out unrealistic dogs ages. 
In this large dataset, we can get bad data, like:
Dogs that appear to be 30 years old, which is not realistic (the average dog lifespan is 10–15 years)
So let's remove rows where:
- The age is less than 0 → probably a mistake
- The age is more than 25 → extremely rare or likely wrong

In [90]:
df_cleaned = df[(df['DogAgeAtLicense'] >= 0) & (df['DogAgeAtLicense'] <= 25)]

In [80]:
averageage = df.groupby("Borough")["DogAgeAtLicense"].mean()

In [84]:
averageage

Borough
Brooklyn         4.689987
Manhattan        5.225337
Queens           5.268548
Staten Island    5.977017
The Bronx        4.718667
Unknown          3.969649
Name: DogAgeAtLicense, dtype: float64

Now Let's export the cleaned dataset

In [ ]:
df_cleaned.to_csv("final_dataset.csv", index=False)